<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<script src="js/zadatak8.js" type="text/javascript"></script>
	<title>F1_Championship</title>
</head>
<body>
	<form onsubmit="return validacija()">
		<table>
			<tr><td>Tim</td>
				<td>
					<select id="naziv">
					<option>Mercedes</option>
					<option>Red Bull Racing</option>
					<option>Renault</option>
				</select>
				</td></tr>
			<tr><td>Ime i prezime</td><td><input  id="imeIPrezime" type="text"/></td></tr>
			<tr><td>Poeni</td><td><input id="poeni" type="number"/></td></tr>
			<tr>
				<td>Datum rodjenja:</td>
				<td><input id="datumRodjenja" type="date" min="1950-01-01" max="2000-15-01"></td>
			</tr>
			<tr><td>Broj vozaca</td><td><input min=0 max= 100 id="brojVozaca" type="number"/></td></tr>
			<tr>
				<td>Pozicija vozaca</td>
				<td>
					<input id="Primarni" type="radio" name="pozicijaVozaca"value="Primarni"/> Primarni
					<input id="Sekundarni" type="radio" name="pozicijaVozaca" value="Sekundarni"/> Sekundarni
					<input id="Rezerva" type="radio" name="pozicijaVozaca" value="Rezerva"/> Rezerva
				</td>
			</tr>
			<tr><td></td><td><input type="submit" value="Dodaj"/></td></tr>
		</table>
	</form>
	<hr/>
</body>
</html>