<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
 	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>F1_Championship</title>
</head>
<body>
	<table method="get">
		<tr>
			<th>Tim</th>
			<th>Ime i prezime</th>
			<th>Poeni</th>
			<th>Datum registracije</th>
			<th>Broj vozaca</th>
			<th>Pozicija vozaca</th>
		</tr>
		<tr th:each="itVozac: ${vozaci}">
			<td th:text="${itVozac.tim.naziv}"></td>
			<td th:text="${itVozac.imeIPrezime}"></td>
			<td th:text="${itVozac.poeni}"></td>
			<td th:text="${itVozac.datumRodjenja}"></td>
			<td th:text="${itVozac.brojVozaca}"></td>
			<td th:text="${itVozac.pozicijaVozaca}"></td>
		</tr>
	</table>
	</hr>
	<p width=bold color="red">Vozac sa najmanjim poenima je: </p>
	<p th:text="${vozacSaNajmanjimBrojemPoena}"></p>
	</hr>
	<p width=bold color="red">Vozac sa najvecim poenima je: </p>
	<p th:text="${vozacSaNajvecimBrojemPoena}"></p> -->
	</hr>
	</form>
	
</body>
</html>